<?xml version='1.0' encoding='windows-1252'?>
<!--
  Mamo Connector WiX Installer Configuration
  
  To use:
  1. Install cargo-wix: cargo install cargo-wix
  2. Install WiX Toolset v3: https://wixtoolset.org/releases/
  3. Run: cargo wix
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='Mamo Connector'
        UpgradeCode='A1B2C3D4-E5F6-7890-ABCD-EF1234567890'
        Manufacturer='Mamo Connector Team'
        Language='1033'
        Codepage='1252'
        Version='0.1.0'>

        <Package Id='*'
            Keywords='Installer'
            Description='Mamo Connector desktop launcher handling custom URI scheme'
            Manufacturer='Mamo Connector Team'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perUser'
            SummaryCodepage='1252'
            Platform='x64'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Mamo Connector Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='Mamo Connector'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            Name='LICENSE'
                            DiskId='1'
                            Source='LICENSE'
                            KeyPath='yes'/>
                    </Component>
                    
                    <Component Id='binary0' Guid='*'>
                        <File
                            Id='exe0'
                            Name='mamo-connector.exe'
                            DiskId='1'
                            Source='target\release\mamo-connector.exe'
                            KeyPath='yes'/>
                    </Component>

                    <!-- URL Protocol Registration -->
                    <Component Id='ProtocolHandler' Guid='E5F6A1B2-C3D4-7890-ABCD-567890EF1234'>
                        <RegistryKey Root='HKCU' Key='Software\Classes\mamoConnector'>
                            <RegistryValue Type='string' Value='URL:Mamo Connector Protocol'/>
                            <RegistryValue Name='URL Protocol' Type='string' Value=''/>
                        </RegistryKey>
                        <RegistryKey Root='HKCU' Key='Software\Classes\mamoConnector\shell\open\command'>
                            <RegistryValue Type='string' Value='"[APPLICATIONFOLDER]mamo-connector.exe" "%1"'/>
                        </RegistryKey>
                    </Component>
                </Directory>
            </Directory>

            <!-- Start Menu Shortcut -->
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ApplicationProgramsFolder' Name='Mamo Connector'/>
            </Directory>

            <!-- Desktop Shortcut -->
            <Directory Id='DesktopFolder' Name='Desktop'/>
        </Directory>

        <!-- Start Menu Shortcut Component -->
        <DirectoryRef Id='ApplicationProgramsFolder'>
            <Component Id='ApplicationShortcut' Guid='*'>
                <Shortcut Id='ApplicationStartMenuShortcut'
                    Name='Mamo Connector'
                    Description='Mamo Connector desktop launcher'
                    Target='[!exe0]'
                    WorkingDirectory='APPLICATIONFOLDER'/>
                <RemoveFolder Id='CleanUpShortCut' Directory='ApplicationProgramsFolder' On='uninstall'/>
                <RegistryValue Root='HKCU' Key='Software\MamoConnector' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <!-- Desktop Shortcut Component (optional) -->
        <DirectoryRef Id='DesktopFolder'>
            <Component Id='DesktopShortcut' Guid='*'>
                <Shortcut Id='DesktopShortcut'
                    Name='Mamo Connector'
                    Description='Mamo Connector desktop launcher'
                    Target='[!exe0]'
                    WorkingDirectory='APPLICATIONFOLDER'/>
                <RegistryValue Root='HKCU' Key='Software\MamoConnector' Name='desktopshortcut' Type='integer' Value='1' KeyPath='yes'/>
            </Component>
        </DirectoryRef>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs Mamo Connector executable and registers the URL protocol.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='License'/>
            <ComponentRef Id='ProtocolHandler'/>

            <Feature
                Id='StartMenu'
                Title='Start Menu Shortcut'
                Description='Add a shortcut to the Start Menu'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='ApplicationShortcut'/>
            </Feature>

            <Feature
                Id='Desktop'
                Title='Desktop Shortcut'
                Description='Add a shortcut to the Desktop'
                Level='2'
                Absent='allow'>
                <ComponentRef Id='DesktopShortcut'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Icon Id='ProductICO' SourceFile='target\release\mamo-connector.exe'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />
        <Property Id='ARPHELPLINK' Value='https://github.com/killriam/mamo-Connector'/>
        
        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
    </Product>
</Wix>
